# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# React Native / Metro
.metro-cache/
.metro-health-check*

# Native generated folders - Expo managed
/ios
/android

# Native / certificates
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Coverage
coverage/
*.lcov
.nyc_output/

# Cache
.npm/
.eslintcache
.stylelintcache
.cache/
.parcel-cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.temp